global
    maxconn 1024
    nbthread 1
    # Ultra-low memory tuning
    tune.bufsize 8192
    tune.maxrewrite 1024

defaults
    mode http
    no log
    timeout connect 5s
    timeout client  30s
    timeout server  30s
    maxconn 1024

frontend http_in
    bind *:9999
    # Só libera as requisições (incluindo o /ready da Rinha) quando AS DUAS instâncias estiverem prontas
    acl both_ready nbsrv(api_servers) eq 2
    http-request deny deny_status 503 unless both_ready

    default_backend api_servers

backend api_servers
    balance roundrobin
    # Health check no endpoint /ready
    option httpchk GET /ready
    http-check expect status 200

    server api1 api1:9999 check init-addr last,libc,none
    server api2 api2:9999 check init-addr last,libc,none
