global
    maxconn 4096
    nbthread 1
    tune.bufsize 4096
    tune.maxrewrite 512

defaults
    mode http
    no log
    timeout connect 3s
    timeout client  10s
    timeout server  10s
    maxconn 4096

frontend http_in
    bind *:9999
    acl any_ready nbsrv(api_servers) ge 1
    http-request deny deny_status 503 unless any_ready
    default_backend api_servers

backend api_servers
    balance roundrobin
    option httpchk GET /ready
    http-check expect status 200
    server api1 api1:9999 check inter 500ms rise 1 fall 2 init-addr last,libc,none
    server api2 api2:9999 check inter 500ms rise 1 fall 2 init-addr last,libc,none
